.header--image {
  img {
    width: 212px;
    height: 212px;
  }
}

.header {
  &--premium-image {
    img {
      width: 284px;
      height: 171px;
      margin-top: 1.5rem;
      margin-bottom: 5rem;
    }
  }
}