input {
  width: 34.4rem;
  height: 5rem;
  border-radius: .5rem;
  outline: none;
  border: 1px solid $lightGrey;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;

  transition: .2s;

  &:focus {
    color: $mainColor;
    border: 1px solid $mainColor;
  }
}

.input-small {
  width: 16.5rem;
  height: 5rem;
  border-radius: .5rem;
  outline: none;
  border: 1px solid $lightGrey;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;

  transition: .2s;

  &:focus {
    color: $mainColor;
    border: 1px solid $mainColor;
  }
}

.input-with-icon {
  padding: 0 4.5rem;
}

.input-no-icon {
  padding: 0 2rem;
}

.input-container {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}

.input-icon {
  color: $lightGrey;
  position: absolute;
  top: 50%;
  left: 3.5%;
  transform: translateY(-50%);
}