<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <title>Welcome Back!</title>
</head>
<body>
  <main class="container">
    <section class="header">
      <div class="header--image">
        <img src="/assets/img/Login_img.png" alt="Login Image">
      </div>
    </section>
    <section class="content">
      <h1 class="content--title">Welcome Back!</h1>

      <!-- Login Form -->
      <form class="content__form">
        <div class="content__form__input">
          <div class="content__form__input--email input-container">
            <span class="material-icons-outlined input-icon">person</span>
            <input class="input-with-icon" type="email" placeholder="example@mail.com" required >
          </div>
          <div class="content__form__input--password input-container">
            <span class="material-icons-outlined input-icon">lock</span>
            <input class="input-with-icon" type="password" placeholder="password" required>
          </div>
        </div>
        <a href="recovery.html" class="content__form--forgot-pass"><p>Forgot Password?</p></a>
        <button type="submit" class="content__form--btn btn btn-big">Log In</button>
      </form>

      <div class="content__social">
        <p class="content__social--text">Or connect with social</p>
        <div class="content__social__social-buttons">
          <button class="content__social__social-buttons--btn btn btn-small">Facebook</button>
          <button class="content__social__social-buttons--btn btn btn-small google-btn">Google</button>
        </div>
      </div>
    </section>
  </main>
</body>
</html>