<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <title>Get Pro Account</title>
</head>
<body>
  <main class="container">
    <section class="header">
      <h1>Get Pro Account</h1>
      <div class="header--premium-image">
        <img src="/assets/img/Upgrade_img.png" alt="Premium Image">
      </div>
    </section>
    <section class="content">
      
          <!-- Get Premium Form -->
      <form class="content__form">
        <div class="content__form__input">
          <div class="input-container">
            <input class="input-no-icon" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="Card Number" required >
          </div>
          <div class="content__form__input--duo-group">
            <input class="input-no-icon input-small" pattern="([0-9]{2}[/]?){2}" maxlength="5" placeholder="MM/YY" required>
            <input class="input-no-icon input-small" pattern="[0-9]{3}" maxlength="3" placeholder="CVV" required>
          </div>
          <p class="content__form__input--CVV-info">What's this?</p>
          <input class="input-no-icon" pattern="[0-9]*" maxlength="3" placeholder="ZIP/Postal Code" required>

        </div>
        <button type="submit" class="content__form--btn btn btn-big-second">Upgrade</button>
      </form>
    </section>
  </main>
</body>
</html>