<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <title>Password Recovery</title>
</head>
<body>
  <main class="container">
    <section class="header">
      <div class="header--image">
        <img src="/assets/img/Forgot-pass_img.png" alt="Recovery Image">
      </div>
    </section>
    <section class="content">
      <h1 class="content--title">Forgot Password</h1>
          <!-- Login Form -->
      <form class="content__form">
        <div class="content__form__input">
          <div class="content__form__input--email input-container">
            <span class="material-icons-outlined input-icon">person</span>
            <input type="email" placeholder="example@mail.com" required >
          </div>
        </div>
        <button type="submit" class="content__form--btn btn btn-big">Reset</button>
      </form>
      <div class="content__account">
        <p>Already have an account? <a href="login.html">Login here</a></p>
      </div>
    </section>
  </main>
</body>
</html>